.footers {
  position: relative;
  height: auto;
  width: 100%;
  background-color: #830c0c;
}
.footers {
  bottom: 0;
  left: 0px;
  padding-top: 20px;
  position: absolute;
  height: auto;
}
/* .Containers-Footers {
  width: 100%;
  height: auto;
} */
.Box {
  float: left;
  width: 30%;
  border: 1px solid #830c0c;
  height: auto;
}
.Contacts {
  float: left;
  width: 70%;
  border: 1px solid #830c0c;
  height: auto;
}
h1 {
  font-size: 28;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-input {
  display: grid;
}

.Contact-input {
  background: black;
  color: #1dd7b2;
  margin-bottom: 10px;
  line-height: 1rem;
  padding: 0.7rem 1.2rem;
}
.Contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: yellow;
}
.socials a i {
  font-size: 30px;
}
