* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: helvetica, arial;
}
.navButton {
  /* Trang trí Button */
  cursor: pointer;
  position: relative;
  float: left;
  width: 32px;
  height: 32px;
  padding: 10px;
  margin: 5px;
  overflow: hidden;
  text-align: center;
  color: #1dd7b2;
  font-size: 18px;
  background: #8d432a;
  opacity: 0.65;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.navButton:hover {
  opacity: 1;
}

.Button_ScrollToTop {
  display: none;
  width: 6%;
  padding-top: 10px;
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 5%;
  background: #1dd7b2;
  cursor: pointer;
  opacity: 1;
  color: #fff;
  font-size: 2em;
}
.Button_ScrollToTop i{
  display: flex;
  justify-content: center;
}