.slideShow-container{
  height: 75vh;
}

#Container-SliderShow {
  /* Main wrapper for all images */
  width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.Slider {
  width: 70%;
  height: 75%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Slider:not(:first-child) {
  display: none;
}

.navButton {
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 10px;
  /* overflow: hidden; */
  text-align: center;
  color: #1dd7b2;
  font-size: 18px;
  background: #8d432a;
  opacity: 0.65;
  /* user-select: none; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#previous{
  position: absolute;
  top: 50%;
  left: 5%;
}
#next{
  position: absolute;
  top: 50%;
  right: 5%;
}
.navButton:hover{
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .slideShow-container{
    height: 29vh;
  }
  #previous{
    position: absolute;
    top: 22%;
    left: 5%;
  }
  #next{
    position: absolute;
    top: 22%;
    right: 5%;
  }
  .Slider {
    width: 70%;
    height: 30%;
  }
}
